<header
  class="hidden md:grid grid-cols-1 md:grid-cols-2 h-screen md:h-[unset] lg:h-screen md:max-h-screen lg:max-h-[none]"
>
  <div class="relative overflow-hidden">
    <div class="">
      <owl-carousel-o [options]="hotelHeader">
        <ng-container *ngFor="let images of imagesStore">
          <ng-template carouselSlide [id]="images.id">
            <div class="h-full">
              <img [src]="images.src" class="object-cover" />
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div
      class="flex items-center justify-center text-center absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 z-10"
    >
      <div class="w-64 mx-auto">
        <p class="font-thin text-sm text-white">DISCOVER NOW</p>
        <h2 class="text-2xl md:text-3xl font-bold my-8 text-white">
          Welcome to Protouch Hotel and Resort
        </h2>
        <button
          class="bg-[#FFFEFE] w-52 mx-auto cursor-pointer text-center text-[#E44200] py-3 px-5 rounded"
          routerLink="/hotel"
        >
          Hotel and Suites
        </button>
      </div>
    </div>
  </div>
  <div class="relative overflow-hidden">
    <div class="">
      <owl-carousel-o [options]="cakeHeader">
        <ng-container *ngFor="let images of imagesStore2">
          <ng-template carouselSlide [id]="images.id">
            <div class="h-full">
              <img [src]="images.src" class="object-cover" />
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div
      class="flex items-center justify-center text-center absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 z-10"
    >
      <div class="w-64 mx-auto">
        <p class="font-thin text-sm text-white">DISCOVER NOW</p>
        <h2 class="text-2xl md:text-3xl font-bold my-8 text-white">
          Welcome to Protouch Cakes and Pastries
        </h2>
        <button
          class="text-[#FFFEFE] w-52 mx-auto cursor-pointer text-center bg-[#E44200] py-3 px-5 rounded"
          routerLink="/cake"
        >
          Cakes and Pastries
        </button>
      </div>
    </div>
  </div>
</header>
<header class="grid grid-cols-1 md:hidden h-screen">
  <div class="relative overflow-hidden">
    <div class="">
      <owl-carousel-o [options]="mobileHeader">
        <ng-container>
          <ng-template carouselSlide>
            <div class="relative">
              <div class="h-full">
                <img src="../../assets/home/header-1.png" class="object-cover" />
              </div>
              <div
                class="flex items-center justify-center text-center absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 z-10"
              >
                <div class="w-64 mx-auto">
                  <p class="font-thin text-sm text-white">HOTEL AND RESORT</p>
                  <h2 class="text-2xl md:text-3xl font-bold my-7 text-white">
                    Welcome to Protouch Hotel and Resort
                  </h2>
                  <button
                    class="text-[#FFFEFE] w-40 mx-auto cursor-pointer text-center bg-[#E44200] py-3 px-5 rounded"
                    routerLink="/hotel"
                  >
                    Discover Now
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="relative">
              <div class="h-full">
                <img src="../../assets/home/header-2.png" class="object-cover" />
              </div>
              <div
                class="flex items-center justify-center text-center absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 z-10"
              >
                <div class="w-64 mx-auto">
                  <p class="font-thin text-sm text-white">CAKES AND PASTRIES</p>
                  <h2 class="text-2xl md:text-3xl font-bold my-7 text-white">
                    Welcome to Protouch Cakes and Pastries
                  </h2>
                  <button
                    class="text-[#FFFEFE] w-40 mx-auto cursor-pointer text-center bg-[#E44200] py-3 px-5 rounded"
                    routerLink="/cake"
                  >
                    Discover Now
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</header>
<section
  class="p-5 sm:p-8 md:p-20 mt-20 grid grid-cols-1 md:grid-cols-2 gap-8 items-center"
  id="about"
>
  <div>
    <h3 class="text-[#661D00] font-semibold">ABOUT US</h3>
    <h2 class="font-bold text-2xl md:text-3xl w-3/4 my-7">
      Welcome To Pretouch Hotel and Cakes
    </h2>
    <p class="mb-5">
      With over 340 Hotels Worldwide and 560 Bakeries, Pretouch Hotel has
      offered a wide variety of audience accross quality and premium service at
      a very affordable price.
    </p>
    <p>Manager: <span class="text-[#661D00]">Chimanda Emeka</span></p>
  </div>
  <div class="flex gap-3">
    <div class="w-1/2 flex flex-col justify-between gap-3">
      <div class="h-1/2">
        <img src="../../assets/home/img-1.png" class="w-full h-full" alt="" />
      </div>
      <div class="h-1/2">
        <img src="../../assets/home/img-2.png" class="w-full h-full" alt="" />
      </div>
    </div>
    <div class="w-1/2">
      <img src="../../assets/home/img-3.png" class="w-full" alt="" />
    </div>
  </div>
</section>
<div class="relative about-2 my-20" id="service">
  <owl-carousel-o [options]="serviceCarousel">
    <ng-template carouselSlide>
      <section class="grid grid-cols-1 md:grid-cols-2">
        <div class="max-h-[520px]">
          <img
            src="../../assets/home/img-4.png"
            class="w-full h-full object-cover"
            alt=""
          />
        </div>
        <div class="bg-[#631C00] flex items-center p-5 sm:p-8 md:p-16 relative">
          <div>
            <h2 class="text-white text-2xl md:text-3xl">Premium King Room</h2>
            <p class="text-[#FF4C04] text-lg font-semibold">
              230$ <span class="text-white text-base font-normal">/ Day</span>
            </p>
            <div class="text-white my-12">
              <div class="flex mb-2">
                <p class="w-24">Size</p>
                <p class="flex-1">: 30 ft</p>
              </div>
              <div class="flex mb-2">
                <p class="w-24">Capacity</p>
                <p class="flex-1">: Max person 5</p>
              </div>
              <div class="flex mb-2">
                <p class="w-24">Bed</p>
                <p class="flex-1">: King Beds</p>
              </div>
              <div class="flex">
                <p class="w-24">Services</p>
                <p class="flex-1">: Wifi, Television, Bathroom</p>
              </div>
            </div>
            <button
              class="text-[#FFFEFE] w-40 cursor-pointer text-center bg-[#E44200] py-3 px-5 rounded"
            >
              View Details
            </button>
          </div>
        </div>
      </section>
    </ng-template>
    <ng-template carouselSlide>
      <section class="grid grid-cols-1 md:grid-cols-2">
        <div class="max-h-[520px]">
          <img
            src="../../assets/home/img-4.png"
            class="w-full h-full object-cover"
            alt=""
          />
        </div>
        <div class="bg-[#631C00] flex items-center p-5 sm:p-8 md:p-16">
          <div>
            <h2 class="text-white text-2xl md:text-3xl">Premium King Room</h2>
            <p class="text-[#FF4C04] text-lg font-semibold">
              230$ <span class="text-white text-base font-normal">/ Day</span>
            </p>
            <div class="text-white my-12">
              <div class="flex mb-2">
                <p class="w-24">Size</p>
                <p class="flex-1">: 30 ft</p>
              </div>
              <div class="flex mb-2">
                <p class="w-24">Capacity</p>
                <p class="flex-1">: Max person 5</p>
              </div>
              <div class="flex mb-2">
                <p class="w-24">Bed</p>
                <p class="flex-1">: King Beds</p>
              </div>
              <div class="flex">
                <p class="w-24">Services</p>
                <p class="flex-1">: Wifi, Television, Bathroom</p>
              </div>
            </div>
            <button
              class="text-[#FFFEFE] w-40 cursor-pointer text-center bg-[#E44200] py-3 px-5 rounded"
            >
              View Details
            </button>
          </div>
        </div>
      </section>
    </ng-template>
  </owl-carousel-o>
</div>
<div class="p-5 sm:p-8 md:p-20 testimonial" id="testimonials">
  <owl-carousel-o [options]="testimonialsCarousel">
    <ng-template carouselSlide>
      <div class="">
        <section class="grid grid-cols-1 sm:flex gap-8 items-center md:px-12">
          <div class="sm:w-1/2 md:w-1/4">
            <img src="../../assets/home/img-5.png" class="w-full" alt="" />
          </div>
          <div class="sm:w-1/2 md:w-3/4">
            <h3 class="text-[#661D00] font-semibold">Testimonials</h3>
            <h2 class="font-bold text-2xl md:text-3xl w-3/4 my-7">
              Our Customers Love Us
            </h2>
            <p class="mb-5">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam
              officiis ipsum sed placeat? Obcaecati id sit, dolorum qui maxime
              ex consequatur
            </p>
          </div>
        </section>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="">
        <section class="grid grid-cols-1 sm:flex gap-8 items-center md:px-12">
          <div class="sm:w-1/2 md:w-1/4">
            <img src="../../assets/home/img-5.png" class="w-full" alt="" />
          </div>
          <div class="sm:w-1/2 md:w-3/4">
            <h3 class="text-[#661D00] font-semibold">Testimonials</h3>
            <h2 class="font-bold text-2xl md:text-3xl w-3/4 my-7">
              Our Customers Love Us
            </h2>
            <p class="mb-5">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam
              officiis ipsum sed placeat? Obcaecati id sit, dolorum qui maxime
              ex consequatur
            </p>
          </div>
        </section>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
<div class="m-0 my-10 md:my-[unset] md:m-20 p-10" id="contact">
  <section
    class="flex flex-col sm:flex-row gap-10 md:items-center justify-between relative z-10"
  >
    <div>
      <h3 class="font-bold text-2xl md:text-3xl text-white mb-2">
        Contact Us now!
      </h3>
      <p class="text-[#D9D9D9]">
        Contact (+234 904 554 221) to book directly or for advice
      </p>
    </div>
    <button
      class="text-[#FFFEFE] w-40 cursor-pointer text-center bg-[#E44200] py-3 px-5 rounded"
    >
      Contact Us
    </button>
  </section>
</div>
