<nav
  class="bg-[#4D1600] h-20 hidden md:flex justify-between items-center px-14 sticky top-0 left-0 right-0 z-20"
>
  <div class="text-white">ProTouch Groups</div>
  <div class="flex items-center space-x-5">
    <a href="#about" class="text-[#FFFEFE] cursor-pointer text-sm">ABOUT US</a>
    <a href="#testimonials" class="text-[#FFFEFE] cursor-pointer text-sm"
      >TESTIMONIALS</a
    >
    <a
      class="text-[#FFFEFE] cursor-pointer bg-[#AE3200] hover:bg-[#661D00] py-3 px-5 rounded text-sm"
      href="#contact"
    >
      CONTACT US
    </a>
  </div>
</nav>
<nav
  class="bg-[#4D1600] h-14 flex justify-between items-center md:hidden px-6 sticky top-0 left-0 right-0 z-20"
>
  <div class="text-white">ProTouch Groups</div>
  <div class="cursor-pointer">
    <img src="../../assets/icons/menu.png" alt="" />
  </div>
</nav>